.hero {
    background-image: url('../assets/images/home-banner.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
  }
  
  .hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .order-button {
    background-color: #FDC913;
    border: none;
    padding: 10px 20px;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 5px;
    color: #292929;
  }
  
  .logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 150px;
  }
  
  @media (max-width: 768px) {
    .hero h1 {
      font-size: 2rem;
    }
  
    .order-button {
      font-size: 1rem;
      padding: 8px 16px;
    }
  
    .logo {
      width: 100px;
    }
  }