:root {
  --primary-color: #fdc913;
  --secondary-color: #292929;
  --accent-color: #ce2829;
  --light-bg: #faf7f2;
  --dark-text: #5f5f5f;
  --white: #faf7f2;
}

.header {
  color: var(--white);
  font-family: "Roboto Condensed";
  padding: 1rem;
  text-decoration: none;
  transition-duration: 1s;
}

.header:hover {
  text-decoration: underline;
}

.hero-section {
  background-image: url(/home-banner.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 375px;
  min-height: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.hero-section p {
  font-family: "Satisfy";
  font-weight: 400;
  font-size: 2rem;
  text-align: center;
  color: var(--primary-color);
}

.hero-section h1 {
  font-family: "Londrina Solid";
  font-weight: 400;
  font-size: 3rem;
  text-align: center;
  color: var(--white);
}

.hero-section h2 {
  font-family: "Roboto Condensed";
  font-weight: 300;
  font-size: 5.3rem;
  text-align: center;
  color: var(--white);
  line-height: 6rem;
  letter-spacing: 1.5px;
}

.hero-section button {
  font-family: "Barlow";
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
  padding: 0.5rem 2.5rem;
  border-radius: 25px;
  border: none;
  background-color: var(--primary-color);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mt-m {
  margin-top: 2.5rem;
}

.barlow {
  font-family: "Barlow";
}

.none {
  text-decoration: none;
}

.none:hover {
  text-decoration: none;
}

.article {
  color: var(--dark-text);
  font-family: "Barlow";
  font-weight: 400;
  font-size: 1rem;
  line-height: 2rem;
}

.pricetag {
  color: var(--dark-text);
  font-weight: 700;
  font-size: 1.7rem;
}

.review {
  font-weight: 400;
  font-size: 1rem;
}

h1, h2, h3 {
  font-family: "Barlow";
}

h1 {
  font-size: 3rem;
  font-weight: 700;
}

h2 {
  font-size: 1.5rem;
  color: var(--dark-text);
  margin: 1rem 0;
}

h3 {
  font-size: 1.3rem;
  color: var(--dark-text);
  margin: 1rem 0;
}

.bg-main {
  background: var(--accent-color);
  width: 100vw;
  height: 100vh;
}

.bg-secondary {
  background: var(--light-bg);
  width: 100vw;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
}

.container-lg {
  max-width: 960px;
  margin: 0 auto;
}

.container-md {
  max-width: 720px;
  margin: 0 auto;
}

.container-s {
  max-width: 480px;
  margin: 0 auto;
}

.container-l {
  max-width: 960px;
}

.p-ts {
  padding: 1rem;
}

.gap-s {
  gap: 1rem;
}

.gap-m {
  gap: 2rem;
}

.gap-l {
  gap: 5rem;
}

.between {
  justify-content: space-between;
}

.margin-bottom-zero {
  margin-bottom: 0;
}

.margin-bottom {
  margin-bottom: 1rem;
}

.margin-bottom-lg {
  margin-bottom: 2rem;
}

.wrap {
  flex-wrap: wrap;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 230px);
  justify-items: start;
}

.grid-item {
  text-align: center;
  margin-bottom: 10px;
}

.semi-bold {
  font-weight: 500;
}

.buton-div {
  display: flex;
  align-items: baseline;
  gap: 10px;
  border-radius: 5px;
}

.buton {
  background-color: var(--primary-color);
  color: var(--light-bg);
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
  color: var(--dark-text);
}

.counter {
  background: none;
  align-content: center;
  text-align: center;
  width: 1rem;
}

.order-container {
  border: 1px solid var(--dark-text);
  border-radius: 5px;
  min-width: 350px;
}

.padding-s {
  padding: 1rem;
}

.black {
  color: var(--secondary-color);
}

.text-left {
  margin: 0;
}

.text-center {
  margin: 0 auto;
}

.reset-margin {
  margin: 0;
}

.reset-padding {
  padding-left: 0;
  padding-right: 0;
}

.header-link {
  color: var(--light-bg);
  text-decoration: none;
  font-family: "Barlow";
}

.white {
  color: var(--light-bg);
}

.order-bg {
  background-color: rgba(253, 201, 19, 0.8);
  padding: 1rem 3rem;
  border-radius: 10px;
}

strong {
  font-weight: 700;
  color: rgb(11, 129, 1);
  font-family: "Barlow";
  font-size: 1.2rem;
}

.bigger {
  font-size: 1.2rem;
}

h4 {
  font-size: 2rem;
  text-align: end;
}

.big {
  font-size: 2rem;
}

.deli {
  font-size: 1.3rem;
  color: var(--accent-color);
  text-align: end;
}
